<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang='en'>
    <head>
    <meta charset='UTF-8'>
    <title>Surf spot checker</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head><body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/surf_spots">Surf Spots</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</nav>
    <h1>Welcome to Surf Spot Checker.
Get into surfing &amp; find out about the best places to start your surfing journey.
<div class="home"><img src="/images/HomeIMG.jpg" /></div>
</h1>

  
    

</body><footer>
    Copyright 2021 Montechristo Inc.
</footer></html>